.image-container {
    position: relative;
    display: inline-block;
}

.title {
    display: block;
    width:100vw;
    margin:none;
}

.fuck {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
#name {
    font-size: 3vw;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Arial Black', sans-serif;
}
 

body {
    margin: 0;
    overflow-x: hidden;
}

.content, .content2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.heart,.psycho {
    width: 50%;
    height: 70vw;
}

.karomuster, .cube {
    width: 50%;
    height: auto;
}
.iam{
    width: 100%;
    height: auto;
}

