.image-container {
    position: relative;
    display: inline-block;
}

.title {
    display: block;
}

.fuck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#name {
    font-size: 3vw;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Arial Black', sans-serif;
}